img  {
  width: 350px;
  height: 150px:
}
img  {
   float: right;
}
.sans p {
   font-family: sans-serif;
}
.test-box  {
   border: 3px solid red;
   background-color: purple;
}
h1  {
   text-align: center;
}
body  {
   background: url("background3.jpg");
   background-size: cover;
   font-size: 22px;
}
.bold  {
   font-weight: bold;
   font-size: 25px;
}
